<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163489557-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-163489557-2');
    </script> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://storage.googleapis.com/instant-binder-251011-test/css/E-learning.css">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Sign up </title>
</head>

<body class="bodied main">
    <!-- <div class="main"> -->
        <img src="https://storage.googleapis.com/instant-binder-251011-test/Images/Welcome.jpg" alt="Robo" id="home_img">


        <form class="container1" action="/Signed" method="POST">
            <h2>Fill in your details</h2><br>
             <label for="Email">Email address</label><br>
            <input type="email" name="Email" id="Email" class="box" required><br>
            <label for="pass">Password </label><br>
            <input type="password" name="Password" id="pass" class="box" required>
            <p></p>
            <button type="submit" class="btn btn-primary boton">Sign Up</button>    
        </form>
    <!-- </div> -->
</body>

</html>